body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    padding: 20px;
}

h1 {
    text-align: center;
    color: orange;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    margin-bottom: 40px;
}

.card {
    background: #222;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

button {
    background: orange;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: darkorange;
}

.whatsapp-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
    background: #25D366;
    color: white;
}